/**
icon 样式
**/

/** icon */
i[class^=icon] {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 0;
}

/** 偏移 */
.mb--5 {
  margin-bottom: -5px;
}
.mr-5 {
  margin-right: 5px;
}
/** 尺寸 */
.icon-size-21 {
  width: 21px;
  height: 21px
}
.svg {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}
/** svg 图标 **/
.aside-svg {
  height: 21px;
  width: 21px;
}

/** png 图标 */
.icon-aside-home {
  background:url("~@/assets/icon/aside-home.png");
}


.icon-aside-console {
  background:url("~@/assets/icon/aside-console.png");
}


.icon-aside-product {
  background:url("~@/assets/icon/aside-product.png");
}

.icon-aside-user {
  background:url("~@/assets/icon/aside-user.png");
}


.icon-aside-infomation {
  background:url("~@/assets/icon/aside-informtion.png");
}